#Reservations {
}

h1 {
  text-align: center;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.grid td {
  width: 90px;
  height: 50px;
  padding: 50px 30px;
  border: 2px solid red;
  text-align: center;
  margin: 5px;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;
}

.reserved {
  background: orange;
  color: #fff;
}

.reserved::after {
  content: 'filled'
}

.available::after {
  content: 'Jump'
}

.available {
  color: #333;
}

li {
  list-style: none;
}
.middle .btn{
   position: relative;
   left: 600px;
}


.left, .right{
  text-align: center;
}

.left ul{
  position: relative;
left:350px;
}

.right ul{
  position: relative;
left:350px;
}
